{
  "presets": ["react", "env"],
  "plugins": [
    ["transform-object-rest-spread"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@assets": "./client/assets",
          "@components": "./client/components",
          "@src": "./client",
          "@scenes": "./client/scenes",
          "@services": "./client/services",
          "@styles": "./client/styles"
        }
      }
    ]
  ]
}
